# Dependencies
node_modules/

# Environment variables
.env
.env.dev
.env.production

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
logs/

# Runtime
pids/
*.pid

# OS files
.DS_Store
Thumbs.db

# Upload folders (user uploaded files)
uploads/

# Coverage / Testing
coverage/